@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.link {
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  margin-top: 20px;
  width: 10%; 
}

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 450px;
}

.empty {
  font-size: 30px;
  font-weight: 900;
  font-family: monospace;
  color: rgb(161, 51, 51);
}

.cart-icon {
  font-size: 150px;
  color: rgb(161, 51, 51);
}

.main-cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clear-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.clear-container button {
  width: 53%;
  height: 50px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.clear-container button:hover {
  background-color: brown;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.cart-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 20px;
  border: rgb(175, 174, 174) solid 1px;
  border-radius: 20px;
  margin: 30px;
  width: 15%;
  background-color: white;
}

.cart-img {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(194, 192, 192);
  border-radius: 5px;
  box-shadow: -5px 5px 5px gray;
}

.cart-title {
  margin-top: 30px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

.cart-price {
  color: rgb(2, 194, 2);
  font-size: 20px;
  font-weight: 900;
  align-self: center;
  margin-left: 10px;
}

.count-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cart-quantity {
  margin: 1px;
  border: 1px solid rgb(194, 192, 192);
  padding: 10px;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
  color: rgb(68, 68, 68);
}

.cart-increase {
  color: green;
  font-size: 25px;
}

.cart-decrease {
  color: red;
  font-size: 30px;
}

.cart-increase, .cart-decrease {
  border: none;
  font-weight: 900;
  cursor: pointer;
}

.cart-decrease:hover {
  color: rgb(148, 0, 0);
}

.cart-increase:hover {
  color: rgb(1, 85, 1);
}

.cart-increase:active, .cart-decrease:active {
  color: rgb(3, 3, 189);
}

.total {
  color: rgb(2, 194, 2);
  font-size: 20px;
  font-weight: 900;
  align-self: center;
  margin-left: 10px;
}

.buy-container {
  padding-bottom: 20px;
}

.buy-container button {
  background: rgb(2, 194, 2);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  height: 40px;
  cursor: pointer;
}

.buy-container button:hover {
  background: rgb(1, 155, 1);
}
