.categories {
  display: flex;
  flex-direction: column;
}

.categories button {
  color: white;
  font-weight: 900;
  background: gray;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
}

.categories button:hover {
  background: rgb(100, 100, 100);
}

.categories button:focus {
  background: rgb(65, 65, 65);
}