.links {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  width: 14%;
  height: 50px;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: rgb(175, 174, 174) solid 1px;
  border-radius: 20px;
  width: 60%;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  box-shadow: -5px 5px 5px rgb(82, 81, 81);
}

.main-container h2 {
  text-align: center;
}

.main-info {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.main-info img {
  width: 150px;
}

.details-btn {
  margin-top: 25px;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}

.form-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
  padding: 20px;
  width: 40%;
}

.form-container legend {
  text-align: center;
}

.form-container button {
  align-self: center;
  background: rgb(65, 65, 65);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  height: 30px;
  width: 70px;
  cursor: pointer;
}

.form-container button:hover {
  background: rgb(0, 0, 0);
}

.form-container button:disabled {
  background: rgb(99, 99, 99);
  cursor: initial;
}

.form-container button:disabled:hover {
  background: rgb(99, 99, 99);
}

.form-container input {
  width: 545px;
}

.form-container p {
  margin: 5px;
}

textarea {
  height: 45px;
  resize: none;
  width: 545px;
}

.comments {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.comments h2 {
  align-self: center;
  margin: 20px;
}

.comment-container {
  border: 1px solid rgb(255, 255, 255);
  margin: 10px;
  padding: 20px;
  width: 80%;
}
