@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(168,165,164);
  background: radial-gradient(circle, rgba(168,165,164,1) 32%, rgba(0,0,0,1) 82%);
}

.title {
  color: rgb(41, 41, 41);
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  text-shadow: 3px 3px 2px rgb(56, 56, 56);
  -webkit-text-stroke: 1px rgb(153, 153, 153);

}

.welcome {
  color: white;
  font-size: 24px;
  text-shadow: 3px 3px 2px rgb(56, 56, 56);
}

.login-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding: 10px;
}

a {
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin-left: 250px;
}

.cart-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-link {
  font-size: 30px;
  color: white;
}

.cart-link:hover {
  color: rgb(167, 165, 165);
}

.search-input {
  width: 50%;
  height: 30px;
  margin-right: 5px;
  text-align: center;
  font-size: 20px;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 3px;
}

.search-input:focus {
  outline: 1.5px solid rgb(65, 65, 65) ;
}

.search-button {
  color: white;
  font-weight: 900;
  background: rgb(87, 87, 87);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
  height: 35px;
  width: 50px;
}

.search-button:hover {
  background: rgb(105, 105, 105)
}

.search-button:active {
  background: rgb(133, 133, 133)
}

.subtitle-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 30px;
  align-items: center;
}

.subtitle {
  font-size: 20px;
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.sort {
  width: 10%;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.categories-container {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: -7px -7px 5px rgb(61, 61, 61);
  display: inline-block;
  padding: 10px 10px 10px 0px;
  width: 15%;
  background-color: rgb(119, 119, 119);
  font-family: 'Rajdhani', sans-serif;
}

.categories-title {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  color: white;
}

.card-container {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  margin-left: 20px;
  width: 100%;
  position: relative;
}
